.wrapper {
  width: 50%;
  min-width: 350px;
  max-width: 950px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 150px;
  max-height: 600px;
}

@media screen and (max-width: 920px){
  /* .wrapper {
    right: 0;
    left: 0;
    top: 120px;
  } */

  .login-container{
    left: 0;
    right: 0;
  }
}