@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/poppins/Poppins-Light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

*{
  box-sizing: content-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(20, 20, 20);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: rgb(46, 46, 46);
}

::selection {
  color: rgb(255, 255, 255);
  background: rgb(46, 46, 46);
}

/* Global scrollbar style */

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgb(43, 43, 43) rgba(255, 166, 0, 0);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  margin-left: -10px;
  width: 8px;
}

*::-webkit-scrollbar-track {
  margin: 25px 10px;
  padding-right: 10px;
  background: rgba(255, 166, 0, 0);
}

*::-webkit-scrollbar-thumb {
  padding-right: 10px;
  background-color: rgb(43, 43, 43);
  border-radius: 20px;
  border: 1px solid rgba(255, 166, 0, 0);
}

@media (max-width:1270px){
  .wrapper{
    width: 75% !important;
    top: 125px !important;
    right: 0 !important;
    left: 0 !important;
  }

  .login-container{
    left: 0 !important;
    right: 0 !important;
  }

  .header-item a{
    /* padding: 20px 20px !important; */
  }
}

@media (max-width:1024px){
  .dropzone-container {
    padding: 0px 0px !important;
  }
  .dropzone-container .dropzone{
    padding: 50px 0px !important;
  }
  .anonShare-container--bottom{
    flex-direction: column !important;
    height: 280px !important;
  }
  .anonShare-container--bottom section {
    width: 100%;
  }
  .anonShare-container--bottom section:first-of-type{
    margin-bottom: 15px;
  }
}

@media (max-width:500px){
  .header-item a{
    padding: 20px 20px !important;
  }
}