.main-header{
  box-sizing: content-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
}

.main-header .titleApp{
  text-decoration: none;
  margin: 20px 30px 2px 30px;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 900;
  font-size: 38px;
  color: white;
  text-shadow: 3px 2px 8px black;
}

.main-header nav{
  display: flex;
}

.header-item{
  list-style: none;
  font-weight: 600;
  font-size: 18px;
  margin-right: 10px;
}

.header-item a{
  text-decoration: none;
  color: white;
  padding: 20px 40px;
  text-shadow: 1px 1px 2px black;
  margin-bottom: 10px;
}

.underline-item{
  line-height: 0.5em;
  border-bottom: 2px solid white;
  width: 0%;
  transition: 0.2s;
  visibility: hidden;
  margin: 0;  
}

.header-item:hover .underline-item{
  visibility: visible;
  width: 100%;

}

@media screen and (max-width: 1155px){
  .main-header{
    flex-direction: column;
    padding: 0px;
  }

  .main-header h1{
    font-size: 34px;
    margin-bottom: 40px;
  }

  .main-header nav{
    width: 100%;
      justify-content: center;
    flex-wrap: wrap;
    }

}