.adminSidebar {
    width: 300px;
    /* width: 100%; */
    height: 100%;
    background-color: #2d3743;
    box-shadow: 2px 0px 8px rgba(85, 85, 85, 0.445);
    z-index: 10;
    display: flex;
    flex-direction: column;
    transition: 0.1s;
    overflow: hidden;
}

.adminSidebar__header {
    padding-top: 20px;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.adminSidebar__header h1 {
    width: 80%;
    color: white;
    font-size: 34px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.479);
    margin: 0px;
    cursor: pointer;
    white-space: nowrap;
}

.adminSidebar__header h1 img {
    width: 100%;
}

.adminSidebar__header h3 {
    color: white;
    font-size: 16px;
    margin-top: -5px;
    margin-left: -25px;
    align-self: center;

    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.479);
    cursor: pointer;
    white-space: nowrap;
}

.adminSidebar__nav {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 10px 20px;
}

.adminSidebar__nav h4 {
    color: #787f81;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}

.adminSidebar__nav .nav-item {
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 600;
    color: #787f81;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    padding: 0px 30px;
    margin-bottom: 5px;
    text-decoration: none;
}

.adminSidebar__nav .nav-item:hover {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    background-color: #323c49;
    color: white;
}

.adminSidebar__nav .nav-item svg {
    margin-right: 20px;
}

.adminSidebar__nav .nav-item.active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
    background-color: #36414e;
    color: white;
}

.hide-sidebar {
    width: 0px;
}

@media screen and (max-width: 1200px) {
    .adminSidebar {
        position: fixed;
        left: 0;
    }

    .adminSidebar__header {
        align-items: flex-start;
        padding-left: 25px;
    }
}

.sidebar-menu-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #637b97;
    color: #637b97 !important;
}

.sidebar-menu-btn:hover {
    background-color: #637b97 !important;
    color: white !important;
}

.goAppBtn--sidebar {
    margin: 20px auto;
    color: #787f81;
    border: 2px solid #787f81;
    margin-top: auto;
}

.goAppBtn--sidebar:hover{
    background-color: #787f81;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.281);
}