.section-friends-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 5px;
}

.user-container{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: 0px 15px;
  width: 100%;
  margin-bottom: 15px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 8px;
  padding: 5px 8px;
  text-decoration: none;
  color: #151414;
}

.user-container:hover {
  border: 1px solid lightgray;
}

.user-container span{
  justify-self: flex-start;
}

.user-img{
  background-color: salmon;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 8px;
}

.user-actions{
  flex: 1;
  /* background-color: lightgreen; */
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.user-actions svg{
  color: rgb(60, 60, 60);
}

.user-status{
  margin-left: 10px;
  font-size: 16px !important;
}

.user-status--connected{
  color: rgb(99, 221, 99) !important;
}

.chat-user{
  padding-top: 3px;
}

.user-separator{
  width: 90%;
  margin: 0 0 10px 0;
  border: 0; border-top: 1px solid lightgray;
}