.edit-profile-container{
    width: 100%;
    flex: 1;
    padding: 40px 60px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputEditProfile{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.inputEditProfile label{
    width: 150px;
}

.inputEditProfile input{
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 99%;
    height: 35px;
    border-radius: 500px;
    border: 2px solid rgb(233, 233, 233);
    padding: 0px 20px;
    font-family: Poppins;
}

.inputEditProfile input:focus {
    border: 2px solid #e25b4b;
}

.saveProfileBtn{
    border: none;
    outline: none;
    width: 180px;
    height: 40px;
    border: 2px solid #e25b4b;
    color: #e25b4b;
    border-radius: 500px;
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    margin-top: auto;
    font-family: Poppins;
    transition: 0.1s;
}

.backBtnProfile{
    box-sizing: border-box;
    position: absolute;
    top: 30px;
    left: 40px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #e25b4b;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.backBtnProfile:hover,.logoutBtn:hover,.saveProfileBtn:hover{
    box-shadow: 0px 0px 3px rgba(110, 110, 110, 0.404);
    font-size: 1.05em;
}

.logoutBtn{
    height: 40px;
    background-color: #e25b4b;
    color: white;
    border-radius: 500px;
    outline: none;
    cursor: pointer;
    border: none;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-weight: bold;
    font-size: 1em;
    position: absolute;
    top: 30px;
    right: 40px;
    transition: 0.1s;
}